.container {
    width: 1200px;
    margin: 0 auto;
}

.site-nav {
    font-size: 12px;
    min-width: 1200px;
    height: 35px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f2f2f2;

}


/* 定位 */

.psi-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 202px;
    border: 1px solid #d9d9d9;
    padding: 20px 10px 10px;
    background-color: #fff;
    top: 35px;
    left: -1px;
    z-index: 1;
}

.psi-1 p {
    margin-top: 10px;
}

.psi-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-width: 78px;
    padding-bottom: 10px;
    border: 1px solid #d9d9d9;
    background-color: #Fff;
    left: -1px;
    border-top-color: #fff;


}

.psi-2 p {
    line-height: 24px;
    height: 24px;
    cursor: pointer;
}

.psi-2 p:hover {
    color: #ff6600;
    text-decoration: underline;
}

.psi-3 {
    display: flex;
    align-items: center;
    width: 320px;
    height: 126px;
    padding: 15px;
    right: 0;
    background-color: #Fff;
    border: 1px solid #d9d9d9;
    border-top: none;

}

.psi-3 p {
    width: 288px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.psi-4 {
    display: flex;
    flex-direction: column;
    width: 210px;
    border-color: #ff6a00;
    border: 1px solid #ff6a00;
    padding: 10px 15px 0;
    border-bottom: 3px solid #ff6a00;
    background-color: #fff;
    top: 40px;
    left: 0;
}


.psi-4 .psi-4-list .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #ff6600;
    cursor: pointer;
}
.psi-4 .psi-4-list .shop-list {
    display: flex;
    flex-wrap: wrap;
    width: 178px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e9e9e9;
}

.psi-4 .psi-4-list .shop-list .shop-item {
    margin-right: 8px;
    height: 22px;
    font-size: 12px;
    color: #666;
    cursor: pointer;
}

.psi-4 .psi-4-list .shop-list .shop-item:hover {
    color: #ff6600;
    text-decoration: underline;
}

.display {
    position: relative;
}

.position {
    position: absolute;
    display: none;
}

.display:hover .position {
    display: flex;

}

.site-nav-top .white:hover {
    background-color: #fff;
    border-bottom-color: #fff;
   border-left: 1px solid #d9d9d9;
   border-right: 1px solid #d9d9d9;
}

.site-nav-top .white .yello{
    color: #ff6600;
}



.site-nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav-top .item {
    height: 35px;
    padding: 0 8px;
    font-size: 12px;
    border: 1px solid transparent;
}

.site-nav-right .item-pi {
    color: #d9d9d9;
    width: 1px;

}

.site-nav-top .site-nav-left .rel-1:hover {
    background-color: #fff;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;

}

.site-nav-top .site-nav-left .rel-1:hover a {
    border-bottom-color: #fff;
    border-color: #d9d9d9;
}

.site-nav-top .site-nav-left .rel-1:hover .psi-1 {
    border-top-color: #fff;
}

.site-nav-top .site-nav-right .item .color {
    color: #d9d9d9;
    font-size: 12px;
}

.site-nav-top .site-nav-left .item:hover a {
    color: #ff6a00;
}

.site-nav-top .site-nav-right .item:hover a {
    color: #ff6a00;
}

.site-nav-top .site-nav-right .item:hover a .color {
    color: #ff6a00;
}

.site-nav-top .item a {
    display: flex;
    align-items: center;
    height: 100%;

}

.site-nav-top .iconfont {
    font-size: 20px;
    color: #ffb680;
    margin-right: 2px;
}

.zero {
    color: #ff6a00;
}

.site-nav-left {
    display: flex;
    height: 35px;
    align-items: center;
}

.site-nav-right {
    display: flex;
    height: 35px;
    align-items: center;
}

.header-top {
    display: flex;
    height: 120px;
    width: 1200px;
}

.header-top .log {
    width: 500px;
    height: 64px;
    background: url(https://img02.hua.com/pc/2021_image/big-logo.png) left center no-repeat;
    background-size: 238px;
    margin-top: 28px;

}

.header-top .serch {
    width: 320px;
    margin-top: 40px;
    height: 34px;

}

.header-top .serch .serch-top {
    display: flex;
}

.header-top .serch .serch-list {
    display: flex;
}

.header-top .serch .serch-list .serch-item {
    margin: 5px 0 10px;
    font-size: 12px;
    margin-right: 5px;
    color: #999;
    cursor: pointer;
}

.header-top .serch .serch-list .serch-item:hover {
    color: #fe6600;
    text-decoration: underline;
}

.header-top .serch input {
    height: 34px;
    width: 239px;
    font-size: 14px;
    border: 1px solid #ff6a00;
    color: #4d4d4d;
    padding: 6px;
}

.header-top .serch .serch-button {

    font-size: 16px;
    width: 82px;
    border: none;
    background: #ff6a00;
    vertical-align: middle;
    padding: 5px 24px;
    cursor: pointer;
    color: #fff;
}

.header-top .serch .serch-button:hover {
    background-color: #f56600;

}

.header-right {
    height: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex: 1;
}

.header-right li {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.header-right .iconfont {
    font-size: 30px;
    margin-right: 3px;
    color: #ff6a00;
}

.header-right .tel {
    margin-right: 6px;
}

.header-right .pi {
    margin-left: 20px;
}

.header-right .off {

    padding-left: 20px;
    cursor: pointer;
}

.header-right .off:hover span:nth-child(2) {
    color: #ff6600;
    text-decoration: underline;
}

.common {
    min-width: 1200px;
    height: 40px;
    background-color: #fe7a24;
    margin-bottom: 10px;
}

.common .common-nav {
    display: flex;
    height: 40px;
    align-items: center;
}

.common .nav-list {
    font-size: 15px;
    color: #fff;

    height: 38px;
    margin-bottom: 1px;
}

.common .nav-choose a {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
}

.common .nav-choose a span:nth-child(1) {
    width: 100px;
}

.common .nav-choose a .iconfont {
    margin-left: 65px;
    margin-bottom: 5px;
}

.common .nav-list a {
    color: #fff;
    height: 38px;
    display: flex;
    align-items: center;
    font-weight: bolder;
    padding: 0 24px;
}

.common .common-nav>li:hover {
    background-color: #ff8833;
}

.common .nav-choose:hover {
    background-color: #ff6a00
}

.common .common-nav .active {
    height: 38px;
    background-color: #ff6a00;
    ;
}

.common .nav-choose {
    display: flex;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    width: 210px;
    height: 40px;
    background-color: #ff6a00;
}




.bodys-box {
    display: flex;
    justify-content: space-between;

}

.bodys-box .bodys-left {
    width: 985px;
    border: 1px solid #d7d7d7;

    padding: 10px 15px 40px 15px;
}

.bodys-box .bodys-left .title {
    font-size: 17px;
    color: #333;
    margin-bottom: 7px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

.bodys-box .bodys-left .line {
    border-top: 1px dotted #a0a0a0;
    padding-top: 5px;
    margin-top: 10px;
}

.bodys-box .bodys-left .first-list {
    display: flex;
    flex-wrap: wrap;
}

.bodys-box .bodys-left .first-list .first-item {
    display: flex;
    margin-bottom: 30px;
    width: 466px;
}

.bodys-box .bodys-left .first-list .first-item:nth-child(2n) {
    margin-left: 20px;
}

.bodys-box .bodys-left .first-list .first-item .desc {
    width: 300px;
    height: 80px;
    margin-left: 10px;
    font-size: 12px;

}

.bodys-box .bodys-left .first-list .first-item .desc p:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bodys-box .bodys-left .first-list .first-item .desc p:nth-child(2) {
    color: #6A6A6A;
    line-height: 20px;
    margin: 0px 0px 7px;
    overflow: hidden;
    height: 60px;
    text-align: justify;
}

.bodys-box .bodys-left .first-list .first-item .desc p>a {
    color: #2D64B3;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bodys-box .bodys-left .first-list .first-item .desc p span {
    display: inline-block;
    white-space: nowrap;
    color: #9B9B9B;
    height: 20px;
    line-height: 20px;
}

.bodys-box .bodys-left .first-list .first-item .desc p span i {
    font-style: normal;
    color: #2D64B3;
}

.box-second .second-item p span:hover {
    color: #ff6600;
    text-decoration: underline;
}

.box-second .second-item .top .left a {
    color: #0B3B8C;
}

.box-second .second-item .top .left a:hover {
    color: #ff6600;
}

.box-second .second-item a:hover {
    color: #ff6600;
    text-decoration: underline;
}

.box-second .second-item p:nth-child(2):hover {
    color: #ff6600;
    text-decoration: underline;
}

.box-second .second-item .top {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0B3B8C;
    font-size: 12px;

}

.box-second .second-item .top span {
    cursor: pointer;
}

.box-second .second-item .artical {
    color: #666;
    font-size: 12px;
    text-indent: 24px;
    margin-bottom: 18px;
    cursor: pointer;
}

.third-list {
    display: flex;
    flex-wrap: wrap;

    font-size: 12px;
    color: #0B3B8C;

}

.third-list .third-item {
    width: 464px;
    margin-bottom: 20px;
}

.third-list .third-item .right {
    margin-right: 40px
}

.third-list .third-item:nth-child(2n) {
    margin-left: 20px;
}

.third-list .top {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 5px;
    height: 30px;
    line-height: 30px;
}

.third-list .top .left {
    color: #111;
    cursor: pointer;
}

.third-list .top .right {
    cursor: pointer;
}

.third-list .sort {
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.third-list .sort:hover {
    color: #ff6600;
    text-decoration: underline;
}

.third-list .border {

    border-bottom: 1px solid #e0e0e0;
    border-top: 2px solid #111111;
}

.fourth-list {
    font-size: 12px;
    color: #0B3B8C;

}

.fourth-list .top {
    height: 24px;
    line-height: 24px;
    cursor: pointer;

}

.fourth-list .artical {
    margin-bottom: 18px;
    text-indent: 24px;
    color: #666;
    cursor: pointer;
}

.fourth-list p:hover {
    color: #ff6600;
    text-decoration: underline;
}


.footer-nav {
    font-size: 12px;
    margin: 30px 0;
    text-align: center;
    color: #737373;
}

.footer-nav .footer-list {
    display: flex;

}

.footer-nav .footer-list li {
    cursor: pointer;
}

.footer-nav .footer-list li:hover {
    color: #fe6600;
    text-decoration: underline;
}

.footer-nav .footer-list .footer-item {
    margin: 0 32px;

}

.footer-nav .footer-list .footer-items {
    font-weight: bold;
}

.footer {
    font-size: 12px;
    padding-bottom: 20px;
    text-align: center;
}

.footer .auth {
    margin: 20px 0 30px;
}

.footer p {
    margin-bottom: 10px;
}

.footer p a:hover {
    color: #fe6600;
    text-decoration: underline;
}

.footer .auth img {
    margin: 0 5px;
    cursor: pointer;
}





.bodys-box .bodys-right {
    /* height: 1685px; */
    width: 205px;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    color: #666;
    font-size: 12px;
    font-weight: bold;

}

.bodys-box .bodys-right .title {
    background: url(https://img02.hua.com/pc/skins/default/images/boxtitle104.jpg) left top no-repeat;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;

}

.bodys-right .dec {
    padding: 8px;

}

.bodys-right .dec p {
    cursor: pointer;
}

.bodys-right .dec p:hover {
    color: #ff6600;
    text-decoration: underline;
}

.bodys-right .dec .tag {
    letter-spacing: 2px;
    height: 20px;
    line-height: 20px;
    padding-left: 15px;
}

.bodys-right .dec .about {
    letter-spacing: 2px;
    height: 20px;
    line-height: 20px;
    margin-left: 38px;
}

.bodys-box .boo {


    line-height: 1px;
    height: 9px;
    font-size: 1px;
    background: url(https://img02.hua.com/pc/skins/default/images/lbottom_205.jpg) left top no-repeat;
}