.promotion {
    margin-top: .6rem;

    img {
        width: 100%;
    }

    .top {
        background-color: #c182cc;
        margin-top: -0.05rem;

        .top-list {
            display: flex;
            flex-wrap: wrap;
            padding: .525rem .6rem;

            // margin-left: -.6rem;
            .top-item {

                display: flex;
                position: relative;
                width: 50%;
                border-radius: .5rem;
                padding-right: .3rem;
                .pic{
                    width: 100%;
                    padding: .5rem .4rem;
                    background: linear-gradient(to bottom right, #e4c8e9 1%, rgba(255, 255, 255, 70%));
                    position: relative;
                    img {
                        position: absolute;
                        width: 40%;
                        bottom: 0;
                        right: 0;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                &:nth-child(2) {
                    // margin-left: .3rem;
                    margin-right: 0;
                    padding-left: .3rem;
                }

                &:nth-child(3) {

                    margin-top: .6rem;
                }

                &:nth-child(4) {
                    margin-top: .6rem;
                    margin-right: 0;
                    padding-left: .3rem;
                }

                .left {
                    flex: 1;
                    overflow: hidden;
                    color: #232628;

                    h4 {
                        font-size: .65rem;
                    }

                    p {
                        font-size: .6rem;
                        line-height: .6rem;
                        color: #71797f;
                        margin-top: .1rem;

                        &:nth-child(3) {
                            font-size: .65rem;
                            color: #232628;
                            margin-top: .5rem;
                        }
                    }
                }

               
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        background-color: #c182cc;

        padding: 0 .6rem;

        .left {
            padding-right: .3rem;
            width: 50%;
            height: 8.375rem;
            background: url(https://img02.hua.com//chanpintupian/2022shouye/slr5.png);
            background-size: 100% 100%;
            position: relative;
            background-position: center center;
            img {
                width: 5rem;
                height: 5rem;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        .right {
            width: 50%;
            padding-left: .3rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .top {
                background-image: url(https://img02.hua.com/chanpintupian/2022shouye/szb.png?v12) ;
                height: 3.925rem;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                overflow: hidden;
                border-radius: .5rem;
                position: relative;

                img {
                    width: 3.5rem;
                    height: 2.75rem;
                    position: absolute;
                    bottom: 0.2rem;
                    right: 0.2rem;
                }
            }

            .bottom {
                background-image: url(https://img02.hua.com/chanpintupian/2022shouye/szb.png?v12);
                height: 3.925rem;
                background-size: cover;
                width: 100%;
                overflow: hidden;
                border-radius: .5rem;
                position: relative;

                img {
                    width: 3.5rem;
                    height: 2.75rem;
                    position: absolute;
                    bottom: 0.2rem;
                    right: 0.2rem;
                }
            }
        }
    }

    .foot {
        border-radius:0 0  .5rem .5rem;
        background-color: #c182cc;
        padding: .6rem .6rem;
        display: flex;
        padding-bottom: 1rem;

        .item {
            flex: 1;
            position: relative;
            height: 6.25rem;

            img {
                &:nth-child(1) {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:nth-child(2) {
                    width: 3.15rem;
                    height: 3.15rem;
                    position: absolute;
                    margin: auto;
                    bottom: .2rem;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}