.header {
    position: initial !important;
    background-color: #F3F5F7 !important;
    box-shadow: none !important;
    margin: 0 .6rem;
    padding: 0 !important;

    button {
        margin-left: 0 !important;

        span {
            font-size: 1.2rem;
            color: #232628;
        }
    }
}

.rarotion .mui-slider-item {
    padding: 0 .6rem;

    img {
        border-radius: .6rem;
        width: 7.5rem;
    }
}

.compay-info {
    overflow: hidden;
    margin: 0 .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info-item {
        
        width: auto;
        height: 1.5rem;
        line-height: 1.5rem;
        color: #71797f;
        font-size: .6rem;
        text-align: center;
        &:nth-child(4){
            // flex: 1;
        }

        .iconfont {
            font-size: .6rem;
        }
    }
}

.goods-list {
    background-color: #fff;
    border-radius: .3rem;
    margin: 0 .6rem;
    padding: .5rem 0;
    display: flex;
    flex-wrap: wrap;

    .goods-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
            img{
                width: 2rem;
            }
        p {
            color: #232628;
            font-weight: 600;
            margin: 0;
            margin-top: .2rem;
            font-size: .6rem ;
        }
        
    }

    .top {
        margin-top: 1rem;

        p {
            margin: 0;
            font-weight: 400;
            margin-top: .2rem;
        }
        img{
            width: .85rem;
        }
    }
}

.promotion {
    margin-top: .6rem;

    img {
        width: 100%;
    }

    .top {
        background-color: #c182cc;
        margin-top: -0.05rem;

        .top-list {
            display: flex;
            flex-wrap: wrap;
            padding: .525rem .6rem;

            // margin-left: -.6rem;
            .top-item {

                display: flex;
                position: relative;
                width: 48%;
                background: linear-gradient(to bottom right, #e4c8e9 1%, rgba(255, 255, 255, 70%));
                border-radius: .5rem;
                padding: .5rem .4rem;
                margin-right: .3rem;

                &:nth-child(2) {
                    margin-left: .3rem;
                    margin-right: 0;
                }

                &:nth-child(3) {
                    margin-right: .3rem;
                    margin-top: .6rem;
                }

                &:nth-child(4) {
                    margin-top: .6rem;
                    margin-left: .3rem;
                    margin-right: 0;
                }

                .left {
                    flex: 1;
                    overflow: hidden;
                    color: #232628;

                    h4 {
                        font-size: .65rem;
                    }

                    p {
                        font-size: .6rem;
                        line-height: .6rem;
                        color: #71797f;
                        margin-top: .1rem;

                        &:nth-child(3) {
                            font-size: .65rem;
                            color: #232628;
                            margin-top: .5rem;
                        }
                    }
                }

                img {
                    position: absolute;
                    width: 40%;
                    bottom: 0;
                    right: 0;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        background-color: #c182cc;

        padding: 0 .6rem;

        .left {
            padding-right: .3rem;
            width: 50%;
            height: 8.375rem;
            background: url(https://img02.hua.com//chanpintupian/2022shouye/slr5.png);
            background-size: 100% 100%;
            position: relative;
            background-position: center center;
            img {
                width: 5rem;
                height: 5rem;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        .right {
            width: 50%;
            padding-left: .3rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .top {
                background-image: url(https://img02.hua.com/chanpintupian/2022shouye/szb.png?v12) ;
                height: 3.925rem;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                overflow: hidden;
                border-radius: .5rem;
                position: relative;

                img {
                    width: 3.5rem;
                    height: 2.75rem;
                    position: absolute;
                    bottom: 0.2rem;
                    right: 0.2rem;
                }
            }

            .bottom {
                background-image: url(https://img02.hua.com/chanpintupian/2022shouye/szb.png?v12);
                height: 3.925rem;
                background-size: cover;
                width: 100%;
                overflow: hidden;
                border-radius: .5rem;
                position: relative;

                img {
                    width: 3.5rem;
                    height: 2.75rem;
                    position: absolute;
                    bottom: 0.2rem;
                    right: 0.2rem;
                }
            }
        }
    }

    .foot {
        border-radius:0 0  .5rem .5rem;
        background-color: #c182cc;
        padding: .6rem .6rem;
        display: flex;
        padding-bottom: 1rem;

        .item {
            flex: 1;
            position: relative;
            height: 6.25rem;

            img {
                &:nth-child(1) {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:nth-child(2) {
                    width: 3.15rem;
                    height: 3.15rem;
                    position: absolute;
                    margin: auto;
                    bottom: .2rem;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}
.artical{
    margin-top: 1.2rem;
    .title{
        font-size: .95rem;
        text-align: center;
        color: #232628;
        font-weight: bold;
    }
    .artical-list{
        margin: .5rem .6rem 0;
        .artical-item{
            display: flex;
            margin-bottom: .55rem;
            background-color: #fff;
            border-radius: .5rem;
            img{
                flex: 0 1 8.5rem;
                width: 8.5rem;
                border-radius: .5rem 0 0 .5rem;
            }
            .desc{
                position: relative;
                flex: 1;
                padding: .6rem .8rem ;
                color: #232628;
                overflow: hidden;
                h3{
                    font-size: .75rem;
                    line-height: .85rem;
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .info{
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: .65rem;
                    line-height: .75rem;
                }
                .day{
                    font-size: .6rem;
                    margin: .4rem 0;
                    span{
                        color: #FF3D12;
                        border: .01rem solid #ff734c;
                        background-color: #FFF0EC;
                        border-radius: .4rem;
                        padding: 0 .4rem;
                    }
                }
                .new{
                    color: #71797f;
                    font-size: .6rem;
                    padding: .2rem;
                    border-top: 0.1rem solid #F3F5F7;
                    border-bottom: 0.1rem solid #F3F5F7;
                }
                .num{
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    align-items: center;
                    left: 0.8rem;
                    right: 0.8rem;
                    bottom: .5rem;
                    .left{
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-right: auto;
                        .price{
                            font-size: .75rem;
                            line-height: .85rem;
                            font-weight: bold;
                            color: #232628;
                        }
                        .cell{
                            color: #71797f;
                            font-size: .6rem;
                            line-height: .7rem;
                        }
                    }
                    .right{
                        text-align: right;
                        width: 1.2rem;
                        img{
                           width: 1.2rem;
                        // height: 1.2rem; 
                        }
                        
                    }
                }
            }
        }
    }
}