@font-face {
  font-family: "iconfont"; /* Project id 3518538 */
  src: url('./font/iconfont.woff2?t=1657678988306') format('woff2'),
       url('./font/iconfont.woff?t=1657678988306') format('woff'),
       url('./font/iconfont.ttf?t=1657678988306') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontgerenzhongxin:before {
  content: "\e645";
}

.icon-shouye:before {
  content: "\e89f";
}

