.home-bar {
    height: 650px;
}

.roration {
    height: 650px;
    width: 100%;
    position: relative;
}

.roration-img li {
    height: 650px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.roration-img li img {
    height: 100%;
    width: 100%;
    display: block;
}

.roration-img .img {
    opacity: 0;
}

.roration-img .actives {
    opacity: 1;

}

.home-top {
    position: absolute;
    z-index: 5;
    width: 100%;

}

.left-arrow {
    position: absolute;
    left: 0;
    height: 100%;
    width: 90px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;

    line-height: 100%;
    text-align: center;
}

.left-arrow span {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    font-size: 60px;
    line-height: 1em;
    color: #fff;
    opacity: .75;
    text-decoration: none;
    transition: all .2s linear;
}

.right-col {
    position: absolute;
    right: 0;
    height: 100%;
    width: 90px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;

    line-height: 100%;
    text-align: center;
}

.right-col span {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    font-size: 60px;
    line-height: 1em;
    color: #fff;
    opacity: .75;
    text-decoration: none;
    transition: all .2s linear;
}

.home-header {
    min-width: 1160px;
    max-width: 1920px;
    height: 60px;
    background: transparent;
    padding: 0 30px;
    color: #fff;
    margin: auto;
}

.bottom-desc {
    position: absolute;
    right: 30px;
    bottom: 10px;
    height: 114px;
    color: #fff;
    display: flex;
    flex-direction: column;

}

.bottom-desc .icall {
    font-size: 40px;
    text-align: right;
}

.bottom-desc .icall sub {
    font-size: 20px;
}

.bottom-desc .em {
    font-size: 14px;
    text-align: right;
    cursor: pointer;
}

.home-left-list {
    height: 60px;
    line-height: 60px;
    float: left;
    line-height: 60px;
}

.section .iconfont {
    font-size: 14px;
    margin-right: 5px;
}

.home-header .home-left-list li {
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.home-header .home-left-list li:hover {
    border-top: 4px solid #Fff;

}

.home-header .home-right-list li {
    cursor: pointer;
    float: right;
}

.home-header .home-left-list .item {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    padding: 2px 10px;
}

.home-right-list .item {
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    float: right;
    padding-left: 14px;

}

.home-middle {
    position: absolute;
    width: 790px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.home-middle .middle-top {
    display: flex;
    overflow: hidden;
}

.home-middle .middle-top .title {
    display: flex;
    width: 263px;
    height: 52px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: hsla(0, 0%, 100%, .8);
    background-color: rgba(0, 0, 0, .75);
    cursor: pointer;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.home-middle .middle-top .active {
    background-image: linear-gradient(90deg, rgba(40, 213, 164, .8), rgba(38, 208, 181, .8));
}

.home-middle .middle-bottom {
    display: flex;
    padding: 10px;
    background-image: linear-gradient(90deg, rgba(21, 219, 145, .8), rgba(6, 204, 199, .8));
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.home-middle .middle-bottom .input input {
    height: 54px;
    width: 582px;
    padding: 0 27px;
    background-color: #fff;
    font-size: 18px;
    border-radius: 6px;
    border: none;

}

.home-middle .middle-bottom button {
    margin-left: 10px;
    width: 180px;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.home-header .iconfont {
    font-size: 12px;
    font-weight: 900;
    margin-left: 2px;
}

.color {
    color: #ff7466;
}

.home-right-list .iconfont {
    font-size: 16px;

}

.section {
    width: 100%;
    background-color: #fff;
    height: 765px;
    padding: 10px 0;
    min-width: 1160px;
}

.container {
    width: 1160px;
    margin: auto;
}

.section .top {
    height: 74px;
    color: #636363;
    line-height: 74px;
    text-align: center;
    font-size: 36px;
    position: relative;
}

.section .top .left {
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    top: 17px;
    background: #02db94;
    position: absolute;
    left: 0;
    border-radius: 30px;
}

.recommend {
    height: 673px;
    background: #fff;
    margin-top: -20px;
    margin-left: -20px;
}

.recommend .recommend-itme {
    margin-top: 20px;
    margin-left: 20px;
    width: 275px;
    height: 300px;
    float: left;
    cursor: pointer;
}

.info {
    padding: 0 12px;
    border: 1px solid #ececec;
    height: 114px;

}

.middle-bottom .iconfont {
    font-size: 18px;
    margin-right: 6px;
}

.info .desc {
    margin-top: 14px;
    height: 45px;
    font-size: 16px;
    font-weight: 700;
    color: #323232;
    overflow: hidden;

}

.info .desc:hover {
    color: #02db94;
}

.author {
    margin-top: 16px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #636363;
    font-size: 14px;
}

.viedo {
    position: relative;
    width: 275px;
    height: 185px;
    overflow: hidden;

}

.viedo:hover img {
    transform: scale(1.1,1.1);
    transition: all .5s linear;
}

.tag {
    width: 45px;
    line-height: 22px;
    height: 22px;
    background: rgba(0, 0, 0, .2);
    ;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    border: 1px solid #fff;
    font-size: 14px;
    left: 10px;
    top: 15px;
    z-index: 3;
}

.author-left {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70%;
    min-width: 55%;
    color: #636363;
    font-size: 14px;
    font-weight: 700;
}

.author-right {
    float: right;
    font-size: 12px;
}

.author-right .red {
    color: #ff7466;
    font-size: 20px;
}

.fixed {
    position: fixed;
    right: 40px;
    bottom: 100px;
    height: 162px;
    width: 55px;
    background-color: #fff;
    font-size: 12px;
}

.fixed .fix-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55px;
    border: 1px solid #e2e2e2;
    color: #b2b2b2;
}

.fixed .fix-item .iconfont {
    font-size: 18px;
    margin: 12px auto 0;
}

.position {
    position: absolute;
    width: 214px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #Fff;
    border-radius: 5px;
    left: 0;
    top: 60px;
    padding: 8px 0;
    display: none;
    z-index: 3;
}

.position .po-item {
    height: 30px;
    font-size: 16px;
    padding: 0 20px;
    color: #636363;
}

.position .po-item:hover {
    background-color: #e3fae1;
}

.display:hover .position {
    display: flex;
}

.home-middles {
    border-color: #ececec;
    border-style: solid;
    border-width: 1px 0;
    background-color: #f5f5f5;

}

.warp {
    display: flex;
    padding: 20px 0;
    margin: auto;
    width: 1160px;
}

.warp img {
    cursor: pointer;
}

.serch{
    position: absolute;
    z-index: 5;
    margin-top: 6px;
    width: 582px;
    background: hsla(0,0%,100%,.95);
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
    border-radius: 6px;
}
