#container {
  width: 100%;
  height: 100vh;
}

.app {
  position: relative;
}

.app p {
  cursor: pointer;
}

.app li {
  cursor: pointer;
}

.app .serch {
  background-color: #fff;
  position: absolute;
  display: flex;
  z-index: 11;
  top: 20px;
  left: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.app .serch input {
  width: 360px;
  height: 40px;
  outline: none;
  border: none;
  padding: 0 10px;
}

.app .serch button {
  padding: 0 20px;
  background-color: #2c9eff;
  border: none;
  color: #fff;
  cursor: pointer;
}

.app .list {
  position: absolute;
  top: 60px;
  left: 20px;
  width: 360px;
  max-height: 300px;
  min-height: 100px;
  overflow: auto;
  background-color: #fff;
}

.app .list li {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  height: 30px;
  cursor: pointer;
  border-top: 1px solid #ccc;
  font-size: 16px;
}

.app .desc {
  position: absolute;
  right: 8%;
  top: 20px;
  background-color: #fff;
  height: 40px;
  width: 190px;
  display: flex;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.app .desc p {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.app .desc .color {
  background-color: #2c9eff;
  color: #fff;
}

.app .info {
  position: absolute;
  top: 60px;
  right: 8%;
  width: 360px;
  max-height: 300px;
  min-height: 100px;
  background-color: #fff;
  overflow: auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.app .info li {
  height: 30px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 15px;
}
